.container {
  text-align: left;
  width: max-content;

  &:hover {
    cursor: pointer;
  }
}

.hidden {
  display: none;
}

.menuToggler {
  user-select: none;
  background-color: transparent;

  &:before {
    content: '>';
    padding-right: 3px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.difficultyList {
  z-index: 2;
  position: absolute;
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid black;
}

.dropdownItem {
  padding: 0 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: rgb(231, 231, 231);
    font-weight: bold;
  }

  &:before {
    content: '>';
    opacity: 0;
  }

  &:hover:before {
    opacity: 1;
  }
}
