.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  div {
    flex: 1 1 0;
    display: flex;
    align-items: center;
  }

  & :nth-child(1) {
    justify-content: left;
  }

  & :nth-child(2) {
    justify-content: center;
  }

  & :nth-child(3) {
    justify-content: right;
  }

  span {
    padding: 0 2px;
  }
}

.button {
  background-color:rgba(255, 255, 255, 0.836);
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;

  // For shine effects
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 10px;
    height: 100%;
    top: 0;
    filter: blur(3px);
    transform: translateX(-30px) skewX(-30deg);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 5px;
    height: 100%;
    top: 0;
    filter: blur(1px);
    transform: translateX(-28px) skewX(-30deg);
  }

  &:hover {
    cursor: pointer;

    // Shine effect on hover
    &::before,
    &::after {
      transform: translateX(90px) skewX(-15deg);
      transition: 0.5s;
    }
  }
}

.bounce {
  animation: bounce 1s;
}

.shakeX {
  animation: shakeX 0.2s;
}

@keyframes bounce {
  0%, 30%, 50%, 70%, 90%  { transform: translateY(0); }
  20% { transform: translateY(-20px); }
  40% { transform: translateY(-15px); }
  60% { transform: translateY(-10px); }
  80% { transform: translateY(-5px); }
}

@keyframes shakeX {
 0% { transform: translateX(0); }
 20% { transform: translateX(5px); }
 40% { transform: translateX(-5px); }
 60% { transform: translateX(5px); }
 80% { transform: translateX(-5px); }
 100% { transform: translateX(0); }
}