.container {
  display: flex;
  justify-content: space-between;

  div {
    flex: 1 1 0;
    display: flex;
    align-items: center;
  }

  & :nth-child(1) {
    justify-content: left;
  }

  & :nth-child(2) {
    justify-content: center;
  }

  & :nth-child(3) {
    justify-content: right;
  }

  span {
    padding: 0 2px;
  }
}
