.container {
  width: max-content;
  margin: 100px auto;
  padding: 20px 15px;
  background-color: #BA6761;
  border-top: 4px solid #DCA195;
  border-left: 4px solid #DCA195;
  border-right: 4px solid #4E282E;
  border-bottom: 4px solid #4E282E;
  user-select: none;
}

.tilesContainer {
  display: grid;
  background-color: #4E282E;
  border: 4px solid #1C1618;
  justify-content: center;
  width: max-content;
  margin: auto;
}

.beginner {
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
}

.intermediate {
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
}

.expert {
  grid-template-columns: repeat(30, auto);
  grid-template-rows: repeat(16, auto);
}

.disabled {
  pointer-events: none;
}