.tile {
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.concealed {
  background-image: url('../assets/concealed.png');
}

.flagged {
  background-image: url('../assets/flagged.png');
  &:active {
    animation: shake 0.5s;
  }
}

.flaggedIncorrect {
  background-image: url('../assets/flagged_incorrect.png');
}

.mine {
  background-image: url('../assets/mine.png');
  animation: explode 0.2s;
}

.mineExplode {
  background-image: url('../assets/mine_explode.png');
}

.mines0 {
  background-image: url('../assets/mines0.png');
}

.mines1 {
  background-image: url('../assets/mines1.png');
}

.mines2 {
  background-image: url('../assets/mines2.png');
}

.mines3 {
  background-image: url('../assets/mines3.png');
}

.mines4 {
  background-image: url('../assets/mines4.png');
}

.mines5 {
  background-image: url('../assets/mines5.png');
}

.mines6 {
  background-image: url('../assets/mines6.png');
}

.mines7 {
  background-image: url('../assets/mines7.png');
}

.mines8 {
  background-image: url('../assets/mines8.png');
}

@media (hover: hover) {
  .concealed:hover {
    transform: rotate(180deg);
  }
}

@keyframes explode {
  0% {
    border-radius: 0%;
    transform: scale(1) translate(1px, 1px) rotate(0deg);
  }
  10% {
    border-radius: 10%;
    transform: scale(1.2) translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    border-radius: 20%;
    transform: scale(1.4) translate(-3px, 0px) rotate(1deg);
  }
  30% {
    border-radius: 30%;
    transform: scale(1.6) translate(-3px, 0px) rotate(1deg);
  }
  40% {
    border-radius: 40%;
    transform: scale(1) translate(1px, -1px) rotate(1deg);
  }
  50% {
    border-radius: 50%;
    transform: scale(1.2) translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    border-radius: 60%;
    transform: scale(1.4) translate(-3px, 1px) rotate(0deg);
  }
  70% {
    border-radius: 70%;
    transform: scale(1.2) translate(3px, 1px) rotate(-1deg);
  }
  80% {
    border-radius: 80%;
    transform: scale(1.4) translate(-1px, -1px) rotate(1deg);
  }
  90% {
    border-radius: 90%;
    transform: scale(1.2) translate(1px, 2px) rotate(0deg);
  }
  100% {
    border-radius: 100%;
    transform: scale(1) translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
